<!-- sidebar menu area start -->

<div class="sidebar-header">
    <div class="logo">
        <img src="{{ assetIMAGES }}/logoG.png" alt="logoGeosystems"/>
        <h5 class="arcadia-sidebar company">Geosystems s.r.l</h5>
    </div>
</div>
<div class="main-menu">
    <div class="menu-inner">
        <nav>
            <ul class="metismenu" id="menu">
                <li class=""></li>
            </ul>
        </nav>
    </div>
</div>
